body {
    background-color: #ffffff;
    margin: 0px;
}

header {
    height: auto;
    background-color: #033D7F;
}

header #Logo-accueil {
    width: 353.49px;
    height: 180px;
    top: 2px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

header h1 {
    left: 0%;
    right: 0%;
    top: 10%;
    padding: 0;

    font-family: 'BioRhyme', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}

nav {
    width: 100%;
    height: 100%;
    background-color: #033D7F;
    padding-top: 5px;
    padding-bottom: 2px;
    border-radius: 0px 0px 35px 35px / 0px 0px 35px 35px;

    /*Alignement au centre des éléments enfants */
    text-align: center;

}

/*Tester l'alignement au centre (temporaire) */
#vertical-bar {
    border: 2px solid green;
    height: 100%;
    position: absolute;
    top: 0;
    left: 49.75%;
    right: 49.75%;
}

#vertical-bar-limit {
    border: 2px solid green;
    height: 100%;
    position: absolute;
    top: 0;
    left: 42%;
    right: 42%;
}

nav ul {
    /* Après des heures de recherches, grâce à Figma et certains forums-discord, 
    j'ai réussi à aligner correctement au centre les éléments de navigatio responsive */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;

    /*Espacement des goutière*/
    gap: 5%;

    height: 40px;
    left: 0%;
    right: 0%;
    top: 170px;
}

nav li {
    list-style-type: none;

    /*Espacement automatique des éléments de navigation*/
    margin: auto;

    width: 25%;
    height: 50px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

nav a {
    color: white;
    text-decoration: none;
    display: inline-block;

    /*Au cas où*/
    margin: auto;
    padding: auto;
    width: 100%;

    /*Paramètre de police*/
    font-family: 'Sora',
        sans-serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.02em;
    text-align: center;
}

section {
    margin-top: 2%;
    margin-bottom: 30px;
    margin: 2%;
    text-align: center;
}

section p {
    font-family: 'Sora',
        sans-serif;
    font-size: 26px;
    margin: 0;
}

section span {
    font-family: 'Sora',
        sans-serif;

}

section h2 {
    font-family: 'BioRhyme', serif;
    font-size: 46px;
    margin-bottom: 0;

}

section a {
    color: black;
    text-decoration: none;
    display: inline-block;

    /*Paramètre de police*/
    font-family: 'Sora',
        sans-serif;
    line-height: 38px;
    letter-spacing: 0.02em;
    text-align: center;
}

section #Paypal {
    width: 80%;
}

/*Code de Mathéo (vidéo responsive) crée en début d'année pour mon portfolio*/
.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#video {
    margin-left: 24%;
    margin-right: 24%;
}


/*Option responsive */
@media (max-width: 1600px) {
    nav a {
        font-size: 22px;
    }

    nav li {
        width: 32%;
    }

    nav ul {
        /*Espacement des goutière*/
        gap: 2%;

        /*hauteur*/
        height: 25px;
        margin-top: 20px;
        top: 10.5%;
    }

    header h1 {
        font-size: 44px;
        margin: 2% 0;
        top: 10.5%;
    }

    section h2 {
        font-size: 32px;
    }

    section p,
    section span {
        font-size: 22px;
    }

    #video {
        margin-left: 16%;
        margin-right: 16%;
    }
}

@media (max-width: 1000px) {
    nav a {
        font-size: 14px;
    }

    nav li {
        width: 32%;
    }

    nav ul {
        /*Espacement des goutière*/
        gap: 0;

        /*hauteur*/
        height: 20px;
        margin-top: 5px;
        top: 12%;
    }

    header h1 {
        font-size: 26px;
        margin: 1% 0;
        top: 14%;
    }

    section h2 {
        font-size: 22px;
    }

    section p,
    section span {
        font-size: 18px;
    }

    #video {
        margin-left: 8%;
        margin-right: 8%;
    }
}

@media (max-width: 640px) {
    nav a {
        font-size: 8px;
    }

    nav li {
        width: 32%;
    }

    nav ul {
        /*Espacement des goutière*/
        gap: 0;

        /*hauteur*/
        height: 14px;
        margin-top: 0px;
        /*top: 140px;*/
    }

    header h1 {
        font-size: 18px;
        margin: 0;
        top: 14.5%;
    }

    header #Logo-accueil {
        width: 64%;
        height: auto;
    }

    section h2 {
        font-size: 22px;
    }

    section p,
    section span {
        font-size: 16px;
    }

    #video {
        margin-left: 5%;
        margin-right: 5%;
    }

    
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');
/*L'import de police BioRhyme ne marche pas ;(
    @import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap');
*/