

body{
    background-color: #ffffff;
    width: 100%;
    margin:0px;
}



div{
    float: right;
}

.fond{

    float: center;
}
span{
    padding: 5px;
}

.centrer {
    text-align: center ;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.style {
    border :0;
    line-height: 2.8;
    color: #58A2ED;
    text-align: center;
    background-color: greenyellow;
    border-color: #58A2ED;
    border-radius: 10px;
}

.style2{
    border :0;
    line-height: 2.8;  
    color: rgb(0, 132, 255);
    background-color: green;
    border-radius: 10px;
    border-radius: 3px #033D7F;
}


ul{
    text-align: center;
    padding: 10px 0px;
    margin: 0%;
}



li{
    list-style-type:  none;
    align-items: center;
    font-family: 'Sora', sans-serif;
    display: inline;
    padding:0% 7%;
    font-weight: 700;

    /*Paramètre du texte*/
    font-family: 'Sora', sans-serif;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.02em;

}

a {
    color: blue;
    text-decoration: none;
}
@media (max-width: 1600px) { 
    li{
        font-size: 20px;
        padding:0% 5%;
    }
}

@media (max-width: 900px) { 
    li{
        font-size: 15px;
        padding:0% 2%;
    }
}


.caca{
position: fixed;
width: 100%;
height: 25%;
top: 0%;
left: 0%;
background-color: #033D7F ;
border-radius: 0px 0px 30px 30px;
background-clip: padding-box;
}