body {
    background-color: #ffffff;
    margin: 0;
}

header {
    height: auto;
    background-color: #033D7F;
    margin: auto;
    padding: auto;
}

header #Logo-accueil {
    width: 25%;
    height: auto;
    top: 2px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

header #logo-secondaires {
    width: 6.5%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    top: 8px;
}

header #Logo-AME {
    position: absolute;
    width: 6%;
    height: auto;
    left: -1%;
    top: 2px;
}

header h1 {
    padding-bottom: 20px;
    margin: auto;

    font-family: 'BioRhyme', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    text-align: center;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}

#Inscription {
    position: absolute;
    width: 140px;
    height: 34px;
    right: 20px;
    top: 20px;
    display: inline;

    border: 2.5px solid #58A2ED;
    filter: drop-shadow(2px 3px 6px rgba(51, 51, 51, 0.25));
    border-radius: 9px;
    background-color: #58A2ED;
}

#Connexion {
    position: absolute;
    width: 140px;
    height: 34px;
    right: 180px;
    top: 20px;
    display: inline;

    border: 2.5px solid #58A2ED;
    filter: drop-shadow(2px 3px 6px rgba(51, 51, 51, 0.25));
    border-radius: 9px;
}

header a {
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-decoration: none;

    /*Aligner le texte du bouton au centre */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    /*Contenant du lien doit prendre le maximum d'espace*/
    left: 0;
    right: 0;
    height: 100%;
}

header #Inscription a {
    color: white;
}

header #Connexion a {
    color: #58A2ED;
}

nav {
    width: 100%;
    height: 100%;
    background-color: #033D7F;
    border-radius: 0px 0px 35px 35px / 0px 0px 35px 35px;

    /*Alignement au centre des éléments enfants */
    text-align: center;

}

nav ul {
    /* Après des heures de recherches, grâce à Figma et certains forums-discord, 
    j'ai réussi à aligner correctement au centre les éléments de navigatio responsive */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin: auto;
    padding-bottom: 1%;
    padding-left: 0;

    /*Espacement des goutière
    gap: 5%;*/

    height: auto;
}

nav li {
    list-style-type: none;

    /*Espacement automatique des éléments de navigation*/
    margin: auto;

    width: 25%;
    height: auto;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

nav a {
    color: white;
    text-decoration: none;
    display: inline-block;

    /*Au cas où*/
    margin: auto;
    padding: auto;
    width: 100%;

    /*Paramètre de police*/
    font-family: 'Sora',
        sans-serif;
    font-size: 2em;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 0.02em;
    text-align: center;
}

section {
    margin-top: 2%;
    margin-bottom: 30px;
    margin: 2%;
    text-align: center;
}

section #dessinAccueil {
    float: right;
}

section p {
    font-family: 'Sora',
        sans-serif;
    font-size: 26px;
    margin: 0;
}

#QRcode-PAYPAL {
    font-family: 'Sora',
        sans-serif;
    font-weight: 200;
    font-size: 20px;

}

section h2 {
    font-family: 'BioRhyme', serif;
    font-size: 46px;
    margin-bottom: 0;

}

section a {
    color: black;
    text-decoration: none;
    display: inline-block;

    /*Paramètre de police*/
    font-family: 'Sora',
        sans-serif;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.02em;
    text-align: center;
}

section #Paypal {
    width: 80%;
}

/*Code de Mathéo (vidéo responsive) crée en début d'année pour mon portfolio*/
.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#video {
    margin-left: 24%;
    margin-right: 24%;
}

/*Mise en forme du formulaire où on propose tous nos partenaires par départements*/
#partenaires label {
    font-family: 'Sora',
        sans-serif;
    font-weight: 400;
    font-size: 26px;
    margin: 0;
}

#partenaires select {
    font-family: 'Sora',
        sans-serif;
    font-size: 18px;
    margin: 0;
    color: white;
    background-color: #58A2ED;
    border-radius: 6px;
    border: none;
}

#partenaires option,
#partenaires optgroup {
    background-color: #90C1F3;
}

#AmineWork {
    font-family: 'Sora',
        sans-serif;
    font-weight: 200;
    font-size: 12px;
    display: none;
}

#partenaires:hover #AmineWork {
    display: inline-block;
}

/*Option responsive */
@media (max-width: 1600px) {
    header #Logo-accueil {
        width: 36%;
    }

    header #logo-secondaires {
        width: 12%;
    }

    nav a {
        font-size: 22px;
    }

    nav li {
        width: 32%;
    }

    nav ul {
        padding-bottom: 12px;
    }

    header h1 {
        font-size: 44px;
        padding-bottom: 12px;
    }

    section h2 {
        font-size: 32px;
    }

    section p,
    #QRcode-PAYPAL,
    #partenaires label {
        font-size: 22px;
    }

    #video {
        margin-left: 16%;
        margin-right: 16%;
    }

    #video {
        margin-left: 24%;
        margin-right: 24%;
    }

    #partenaires select {
        font-size: 16px;
    }

}

@media (max-width: 1000px) {
    header #Logo-accueil {
        width: 48%;
    }

    header #Logo-AME {
        display: none;
    }

    header #logo-secondaires {
        width: 18%;
    }

    /*Alignement à gauche du bouton Se connecter*/
    #Connexion {
        left: 20px;
    }

    nav a {
        font-size: 14px;
    }

    nav li {
        width: 32%;
    }

    nav ul {
        padding-bottom: 8px;
    }

    header h1 {
        font-size: 26px;
        padding-bottom: 4px;
    }

    section h2 {
        font-size: 22px;
    }

    section p,
    #QRcode-PAYPAL,
    #partenaires label {
        font-size: 18px;
    }

    #video {
        margin-left: 8%;
        margin-right: 8%;
    }

    #partenaires select {
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    header #Logo-accueil {
        width: 64%;
    }

    header #Logo-AME {
        display: none;
    }

    header #logo-secondaires {
        width: 24%;
    }

    /*Update de la taille des boutons*/
    #Connexion,
    #Inscription {
        width: 84px;
        height: 20.4px;
        top: 20px;
        display: inline;

        border: 2px solid #58A2ED;
        filter: drop-shadow(2px 3px 6px rgba(51, 51, 51, 0.25));
        border-radius: 9px;
    }

    #Connexion {
        left: 2%;
    }

    #Inscription {
        right: 2%;
    }

    /*Update de la taille de la police du texte (bouton)*/
    header a {
        font-size: 11px;
    }

    nav a {
        font-size: 8px;
    }

    nav li {
        width: 32%;
    }

    nav ul {
        padding-bottom: 4px;
    }

    header h1 {
        font-size: 18px;
        padding-bottom: 0;
    }

    section h2 {
        font-size: 22px;
    }

    section p,
    #QRcode-PAYPAL,
    #partenaires label {
        font-size: 16px;
    }

    #video {
        margin-left: 5%;
        margin-right: 5%;
    }

    #partenaires select {
        font-size: 12px;
    }

}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400&display=swap');
/*L'import de police BioRhyme ne marche pas ;(
    @import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap');
*/